* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Istok Web', sans-serif;
}

.container-Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Adiciona espaçamento nas laterais */
}

.container-WorkMint {
    flex: 1;
}

.TextoBotao {
    display: flex;
    justify-content: flex-end;
    flex: 2;
}

.container-Letreiro {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px; /* Espaçamento entre as âncoras */
}

.container-Letreiro a {
    color: #000;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid black;
    transition: background-color 0.3s, color 0.3s;
}

.container-Letreiro a:hover {
    background-color: #b3fafa;
    color: #000;
}
/*MAINNNNNNNNNNNNNNNNNN*/


.containerTitulo {
    text-align: center;
    margin-top: 20px;
}

.imagens-treino {
    gap: 70px;
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    position: relative; /* Necessário para posicionamento absoluto do overlay */
}

.imagens-treino > a {
    position: relative; /* Necessário para posicionamento absoluto do overlay */
}

.imagens-treino > a > img {
    width: 237px;
    height: 355px;
    cursor: pointer;
    transition: transform 0.3s, filter 0.3s; /* Adiciona transição suave */
}

.imagens-treino > a:hover > img {
    transform: scale(1.1);
    filter: blur(5px); /* Adiciona desfoque na imagem */
}

.imagens-treino > a:hover .overlay {
    opacity: 1; /* Mostra o overlay ao passar o mouse */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    color: black;
    font-size: 24px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s; /* Adiciona transição suave */
    border: 1px solid black;
    font-family: "Istok Web", sans-serif;
}


/* FOOOOOOOOOOOOOOOOOTER*/
.footer-fixado {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer{
    margin-top: auto;
    height: 54px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-top: 1px solid gray;
    background-color: #D5FFFF;
} 