*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-Menu{
    height: 170px;
    display: flex;
    align-items: center;
    background-color: #D5FFFF;
    width: -webkit-fil-available;
    justify-content: space-between;
    border-bottom: 3px solid gray;
}

.container-Letreiro{
    font-size: 20px;
    color: white;
    justify-content: center;
    -webkit-text-stroke: 0.5px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}.container-Letreiro> a{
    width: 50px;
    margin-left: 30px;
    text-decoration: none;
}.container-Letreiro > a:hover{
    padding: 3px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: #67d7ce;
}
.container-WorkMint{
    margin-left: 50px;
}
.container-WorkMint > img{
    width: 160px;
    height: 140px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.TextoBotao{
    gap: 190px;
    display: flex;
    align-items: center;
    margin-right: 50px;
    justify-content: space-between;
}
.botoes>button{
    width: 152px;
    height: 46px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #5DC1B9;
}.botoes > button:active{
    background-color: #51a7a0;
}

/*---CABEÇALHO---*/

.container-CorpoSite1 {
    height: 500px;
    width: -webkit-fill-available;
    margin: 60px 80px 0px 80px;
    border-bottom: 2px solid black;
}
.container-CorpoSite1 > p{
    font-size: 41px;
    text-align: center;
    font-family: "Istok Web", sans-serif;
}
.container-LivrosInicial{
    gap: 50px;
    display: flex;
    margin-top: 0px;
    justify-content: center;
}
.container-LivrosInicial > a >img {
    width: 237px;
    height: 355px;
    cursor: pointer;
    margin-top: 20px;
}.container-LivrosInicial > a > img:hover{
    width: 245px;
    height: 365px;
    border: 0.5px solid black;
}
/*Fim da Primeira parte do site*/

.container-CorpoSite2{
    height: 150px;
    text-align: center;
    margin: 40px 80px 60px 80px;
    border-bottom: 2px solid black;
    font-family: "Istok Web", sans-serif;
}.container-CorpoSite2 > button{
    width: 200px;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #FF9900;
}.container-CorpoSite2 > button:hover{
    background-color: #d17e00;
}
/*Fim da segunda parte*/

.container-CorpoSite3{
    height: 170px;
    margin: 40px 80px 60px 80px;
    width: -webkit-fil-available;
    font-family: "Istok Web", sans-serif;
}
.containerRotina{
    height: 160px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
}

.bloco1{
    display: flex;
    width: 453px;
    align-items: center;
    height: 160px;
    border-right:1px solid black;
}.bloco1 > img{
    height: 85px;
    width: 78px;
}

.bloco2{
    display: flex;
    width: 453px;
    height: 160px;
    align-items: center;
}

/*---FOOTER---*/
.footer-fixado {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer{
    margin-top: auto;
    height: 54px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-top: 1px solid gray;
    background-color: #D5FFFF;
}